.list-of-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  h3{
    font-size: 22px;
  }
  a{
    text-decoration: none;
  }
}

.list-of-recipes{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-row, .row-card-recipes{
justify-content: space-evenly;
margin-top: 10px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 16px;

}
.category-card{
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    &:hover{
      opacity: 0.8;
    }

  }
  p{
    text-align: center;
    color:white;
    font-weight: bold;
  }
}



.card-description {
  padding: 16px;
  background-color: white;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);



  h5{
    font-weight: bold;
  }
  a{
    text-decoration: none;
  }
}
.recipe-card > img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.recipe-card{
  position: relative;

}
.card-recipe-infos{
  background-color: white;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  right: 16px;
  top: -20px;
}

.btn-delete {
  position: absolute;
  right: 30px;
  top: 20px;

  i {
    color: gray;
    &:hover {
      color: red;
    }
  }
}




//Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-row{
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-row{
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-row{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
